1. Problem Statement

Predict flight ticket price

# 2. Collecting data

In [261]:
import pandas as pd #pandas for data handling
train = pd.read_excel("Data_Train.xlsx")
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [262]:
train.shape

(10683, 11)

In [263]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB

In [264]:
train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

missing record :- one from Route and one from Total_stops

Remove Record

In [265]:
train = train.dropna()
train.shape

(10682, 11)

# Test set

In [266]:
test = pd.read_excel("Test_set.xlsx")
test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [267]:
test.shape

(2671, 10)

In [268]:
test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

No missing records

# 3. Cleaning Data

# 3a. Date_of_Journey

In [269]:
# date of Journey
#Given date of journey in string format ,convert string format to values.
train['Day_of_Journey'] = pd.to_datetime(train.Date_of_Journey, format = '%d/%m/%Y').dt.day
train['Month_of_Journey'] = pd.to_datetime(train.Date_of_Journey, format = '%d/%m/%Y').dt.month
train.head(2)

test['Day_of_Journey'] = pd.to_datetime(test.Date_of_Journey, format = '%d/%m/%Y').dt.day
test['Month_of_Journey'] = pd.to_datetime(test.Date_of_Journey, format = '%d/%m/%Y').dt.month
test.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5

In [270]:
#drop Date_of_Journey from dataset
train.drop(labels = 'Date_of_Journey', axis = 1, inplace = True)
train.head(2)

test.drop(labels = 'Date_of_Journey', axis = 1, inplace = True)
test.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5

# 3b. Dep_Time and Arrival_Time

In [271]:
##Train set
#Departure time
train['Dep_Time_Hours'] = pd.to_datetime(train.Dep_Time).dt.hour
train['Dep_Time_Minutes'] = pd.to_datetime(train.Dep_Time).dt.minute
train.drop(labels = 'Dep_Time', axis = 1, inplace = True)

#Arrival time
train['Arrival_Time_Hours'] = pd.to_datetime(train.Arrival_Time).dt.hour
train['Arrival_Time_Minutes'] = pd.to_datetime(train.Arrival_Time).dt.minute
train.drop(labels = 'Arrival_Time', axis = 1, inplace = True)
train.head()

##Test set
#Departure time
test['Dep_Time_Hours'] = pd.to_datetime(test.Dep_Time).dt.hour
test['Dep_Time_Minutes'] = pd.to_datetime(test.Dep_Time).dt.minute
test.drop(labels = 'Dep_Time', axis = 1, inplace = True)

#Arrival time
test['Arrival_Time_Hours'] = pd.to_datetime(test.Arrival_Time).dt.hour
test['Arrival_Time_Minutes'] = pd.to_datetime(test.Arrival_Time).dt.minute
test.drop(labels = 'Arrival_Time', axis = 1, inplace = True)
test.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey,Dep_Time_Hours,Dep_Time_Minutes,Arrival_Time_Hours,Arrival_Time_Minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,12,5,6,20,10,20

# 3c. Duration

In [272]:
#training set
duration = list(train['Duration'])

for i in range(len(duration)) :
    if len(duration[i].split()) != 2:
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())

#print(duration)
dur_hours = []
dur_minutes = []  

for i in range(len(duration)) :
    dur_hours.append(int(duration[i].split()[0][:-1]))
    dur_minutes.append(int(duration[i].split()[1][:-1]))
    
train['Duration_hours'] = dur_hours
train['Duration_minutes'] =dur_minutes
train.head()

train.drop(labels = 'Duration', axis = 1, inplace = True)

In [273]:
#test set
duration = list(test['Duration'])

for i in range(len(duration)) :
    if len(duration[i].split()) != 2:
        if 'h' in duration[i] :
            duration[i] = duration[i].strip() + ' 0m'
        elif 'm' in duration[i] :
            duration[i] = '0h {}'.format(duration[i].strip())


dur_hours = []
dur_minutes = []  

for i in range(len(duration)) :
    dur_hours.append(int(duration[i].split()[0][:-1]))
    dur_minutes.append(int(duration[i].split()[1][:-1]))
    
test['Duration_hours'] = dur_hours
test['Duration_minutes'] =dur_minutes

test.drop(labels = 'Duration', axis = 1, inplace = True)
test.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey,Dep_Time_Hours,Dep_Time_Minutes,Arrival_Time_Hours,Arrival_Time_Minutes,Duration_hours,Duration_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,17,30,4,25,10,55
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,6,20,10,20,4,0
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,In-flight meal not included,21,5,19,15,19,0,23,45
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,21,5,8,0,21,0,13,0
4,Air Asia,Banglore,Delhi,BLR → DEL,non-stop,No info,24,6,23,55,2,45,2,50

In [274]:
train.head(2)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Dep_Time_Hours,Dep_Time_Minutes,Arrival_Time_Hours,Arrival_Time_Minutes,Duration_hours,Duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25

In [275]:
test.head(2)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey,Dep_Time_Hours,Dep_Time_Minutes,Arrival_Time_Hours,Arrival_Time_Minutes,Duration_hours,Duration_minutes
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,17,30,4,25,10,55
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,6,20,10,20,4,0

# X_train and Y_train split dataset

In [276]:
Y_train = train.iloc[:,6].values #only price  

X_train = train.iloc[:,train.columns != 'Price'].values # except price

X_test = test.iloc[:,:].values

In [277]:
#encoding categorical variables index 0 to 5
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

for i in range(6):
    X_train[:,i] = LE.fit_transform(X_train[:,i])
    X_test[:,i] = LE.fit_transform(X_test[:,i])

print(pd.DataFrame(X_train).head())
print(pd.DataFrame(X_test).head())

  0  1  2    3  4  5   6  7   8   9   10  11  12  13
0  3  0  5   18  4  8  24  3  22  20   1  10   2  50
1  1  3  0   84  1  8   1  5   5  50  13  15   7  25
2  4  2  1  118  1  8   9  6   9  25   4  25  19   0
3  3  3  0   91  0  8  12  5  18   5  23  30   5  25
4  3  0  5   29  0  8   1  3  16  50  21  35   4  45
  0  1  2   3  4  5   6  7   8   9   10  11  12  13
0  4  2  1  76  0  5   6  6  17  30   4  25  10  55
1  3  3  0  65  0  5  12  5   6  20  10  20   4   0
2  4  2  1  76  0  3  21  5  19  15  19   0  23  45
3  6  2  1  76  0  5  21  5   8   0  21   0  13   0
4  0  0  2  16  4  5  24  6  23  55   2  45   2  50

In [278]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

SS= StandardScaler()

X_train = SS.fit_transform(X_train)

X_test = SS.transform(X_test)


Y_train = Y_train.reshape((len(Y_train), 1)) 

Y_train = SS.fit_transform(Y_train)

Y_train = Y_train.ravel()

G:\anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
G:\anaconda\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [279]:
#after scaling
print(pd.DataFrame(X_train).head()) 
print(pd.DataFrame(Y_train).head())

         0         1         2         3         4         5         6   \
0 -0.410805 -1.658359  2.416534 -1.547082  1.407210  0.499921  1.237288
1 -1.261152  0.890014 -0.973812  0.249946 -0.253703  0.499921 -1.475307
2  0.014369  0.040556 -0.295743  1.175687 -0.253703  0.499921 -0.531796
3 -0.410805  0.890014 -0.973812  0.440539 -0.807341  0.499921 -0.177979
4 -0.410805 -1.658359  2.416534 -1.247577 -0.807341  0.499921 -1.475307

         7         8         9         10        11        12        13
0 -1.467402  1.654154 -0.234950 -1.800436 -0.890014 -0.970614  1.279041
1  0.250289 -1.303113  1.363607 -0.050909 -0.587094 -0.381999 -0.196319
2  1.109135 -0.607286  0.031476 -1.363054  0.018745  1.030677 -1.671678
3  0.250289  0.958326 -1.034229  1.407030  0.321664 -0.617445 -0.196319
4 -1.467402  0.610412  1.363607  1.115442  0.624584 -0.735168  0.983969
          0
0 -1.125535
1 -0.309068
2  1.039783
3 -0.622209
4  0.914006

In [280]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

# Fitting the Decision Tree Regressor with training Data
dtr.fit(X_train,Y_train)

# Predicting the values(Fees) for Test Data
Y = SS.inverse_transform(dtr.predict(X_test))
pd.DataFrame(Y, columns = ['Price']).to_excel("FlightTicket_Pred.xlsx", index = False)
print(pd.DataFrame(Y).head(10))

         0
0  12142.0
1   4760.0
2  18581.0
3   9450.0
4   5769.0
5  18581.0
6   6901.0
7   6111.0
8   4544.0
9  10844.0

In [281]:
from sklearn.svm import SVR

svr = SVR(kernel = "rbf")

svr.fit(X_train,Y_train)

Y_pred = SS.inverse_transform(svr.predict(X_test))
print(pd.DataFrame(Y_pred).head(10))


#pd.DataFrame(Y_pred, columns = ['Price']).to_excel("Final_Pred.xlsx", index = False)

              0
0  10547.002077
1   6773.635780
2  11482.732670
3  11281.247128
4   4379.175423
5  11115.109702
6   7662.187180
7   8986.114570
8   3305.391285
9  12187.046543

In [282]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_jobs=-1)
model.fit(X_train,Y_train)
pred = SS.inverse_transform(model.predict(X_test))
pd.DataFrame(pred, columns = ['Price']).to_excel("FT_Pred.xlsx", index = False)
print(pd.DataFrame(pred).head(10))

         0
0   9873.5
1   5093.7
2  36157.3
3   9259.2
4   4628.3
5  36758.6
6   9817.2
7   5945.0
8   4432.0
9  10844.0